<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
   <staticContent>
    <mimeMap fileExtension=".jdx" mimeType="application/text" />
    <mimeMap fileExtension=".mol" mimeType="text/plain" />
    <mimeMap fileExtension=".sdf" mimeType="text/plain" />
   </staticContent>
 </system.webServer>
</configuration>